body {
	background-color: #f0e6dc;
	margin: 0;
	padding: 0;
}

nav {
	background-color: #f0e6dc;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 10px;
	background-color: #bb8b6d;
	text-align: center;
}

a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

.content {
	margin-left: 150px;
	padding: 20px;
	text-align: center;
	font-family: 'Ysabeau Infant', sans-serif;
}

.footer {
  background-color: #f0e6dc;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

img {
  width: 300px;
  height: auto;
}
